
<div class="jumbotron">
<h1>About Karen</h1>
<p>This is my life's work,I hope you enjoy it! I enjoy and love Web Development. Im a currently a employee and student at the Stridecenter
   I have recived my CIW Devlopment Associate and plan to continue my schooling with the Stride Center to continue to development my
   coding skills and further my Education . 
   I'm a Mom,Wife,Sister,Daughter and a entrepreneur. Looking to start my own website and application development bussiness giving 
   opportunity and education minoritys to have the confidance,clarity,comentment,and Dedcation,to succeed in Coding and web designing. 
   Thats my mission.
     </p>

<%=link_to 'Home', root_path, class: 'btn btn-primary' %>
</div>