<div class="jumbotron">
     <h1>Welcome to my Karen Horne App</h1>
     <p>This will be the Best App Ever</p>
     <p>Please stay tuned as my App Developes. It will be <strong>Mind </strong> Blowing!</p>
     <%= link_to 'About Me',home_about_path, class: 'btn btn-primary'%>
     <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
    </div>
